<div class="login_content">
    <% if (locals.message) { %> 
        <h4 style="position: absolute;top: 0;"><%= message  %> </h4>
    <% } %> 
    <form class login_forms action="/login_validate" method="post">
        <label for="username">Email</label>
        <input type="text" name="username" id="username" placeholder="Enter email" required>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" placeholder="Enter password" required>
        <button type="submit">Login </button>
        
    </form>
</div>