<div class="leftcorner">
    <div class="searchBar">
        <input type="text" name="Search" id="Search" placeholder="Search" >
        <i class="fas fa-search search_btn"></i>
    </div>
    <div id="Contact" class="Contact">
        <ul>
            <li class="connected-chat">
                <img class="connected-chat_img" src="/icon/favicon.ico"   alt="">
                <div class="connected-chat_text">
                    <h4 class="chat_object">GhosT Haise</h4>
                    <p>Hello</p>
                </div>
            </li>
            <li class="connected-chat">
                <img class="connected-chat_img" src="/icon/favicon.ico"   alt="">
                <div class="connected-chat_text">
                    <h4 class="chat_object">Fitiavana Sambatra</h4>
                    <p>Hi ! how are you ?</p>
                </div>
            </li>
            <li class="connected-chat connected-chat_current">
                <img class="connected-chat_img" src="/icon/favicon.ico"   alt="">
                <div class="connected-chat_text">
                    <h4 class="chat_object">Test User1</h4>
                    <p>welcome</p>
                </div>
            </li>
            <li class="connected-chat">
                <img class="connected-chat_img" src="/icon/favicon.ico"   alt="">
                <div class="connected-chat_text">
                    <h4 class="chat_object">Test User2</h4>
                    <p>Nice to meet you.</p>
                </div>
            </li>
        </ul>
    </div>
</div>