<div class="leftcorner">
    <div class="searchBar">
        <input type="text" name="Search" id="Search" placeholder="Search" >
        <i class="fas fa-search search_btn"></i>
    </div>
    <div class="Contact">
        
    </div>
</div>