<div class="rightcorner">
    <div class="current_chating">
            <img class="current_chating_img" src="/icon/favicon.ico"   alt="">
            <div class="current_chating_text">
                <h4 class="chat_object">Gold Coast</h4>
                <p>From : <span>GhosT Haise</span></p>
            </div>
    </div>
    <div class="chat_message">
        <div class="zone_messsage">
            <ul id="message_zone" class="message_zone">
                <li class="msg_receive">
                    <div class="_msg_rcv_com message_received_">
                         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, quae.</p>
                    </div>
                    <span class="message_received_time">3:00 PM</span>
                </li>
                <li class="msg_sender">
                    <div class="_msg_rcv_com message_received_sender">
                         <p>Lorem ipsum, </p>
                    </div>
                    <span class="message_received_time">3:25 PM</span>
                </li>
            </ul>
        </div>
        <div class="zone_saisie">
            <div class="chat_vocal">
                <i class="chat_icon fas fa-microphone"></i>
            </div>
            <div class="chat_mes">
                <input type="text" name="message" id="message" placeholder="Type Something ...">
            </div>
        <div class="chat_btn">
            <span><i class="chat_icon chat_icon_btn_section far fa-smile-wink"></i></span>
            <span ><i class="chat_icon chat_icon_btn_section far fa-file"></i></span>
            <span class="extend_btn" onclick="send()"><i class="chat_icon chat_icon_send fa fa-paper-plane"></i></span>
        </div>
        </div>
    </div>
</div>