<div class="rightcorner">
    <div class="current_chating">

    </div>
    <div class="zone_messsage">
        <ul class="message_zone"></ul>
    </div>
    <div class="zone_saisie">
        <input type="text" name="message" id="message">
        <button onclick="send()">Envoyer</button>
    </div>
</div>