@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
html{
    font-size: 32px;
    background-color: rgb(236, 235, 235);
    font-family: 'Questrial', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
}
.main_chat{
    display: flex;
    justify-content: space-between;
    height: 90%;
}
.leftcorner{
    width: 45%;
    padding-right: 20px;
}
.rightcorner{
    width: 50%;
}
/* top_corner */
.top_corner{
    margin-bottom: 25px;
}
.top_corner p{
    font-size: .52rem;
    text-align: end;
}
.top_corner h4{
    font-weight: 300;
    font-size: .85rem;
}
.status{
    display: inline-block;
    width: 40px;
}
/* Rigth corner */
.rightcorner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightcorner .current_chating,.rightcorner .zone_saisie{
    height: 13%;
    min-height: 65px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}
.rightcorner .current_chating{
    padding: 5px 15px;
    display: flex;
    align-items: center;
}
.rightcorner .current_chating .current_chating_img{
    object-fit: contain;
    height: 80%;
    width: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #979797a1;
    margin-right: 15px;
}
.rightcorner .current_chating .current_chating_text{
    width: 80%;
    font-size: .45rem;
    letter-spacing: -.1px;
    min-width: 210px;
    padding-right: 10px;
    overflow: hidden;
}
.rightcorner .current_chating .current_chating_text h4{
    font-size: .55rem;
}
.rightcorner .current_chating .current_chating_text p{
    color: #979797e1;
}
.rightcorner .zone_saisie{
    width: calc(100% - calc(20px * 2));
    position: absolute;
    bottom: 20px;
    box-shadow: 3px 3px 10px rgba(209, 209, 209, 0.637);
    border: 1px solid rgba(255, 255, 255,0.5);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .2);
}
.rightcorner .chat_message{
    position: relative;
    overflow-y: scroll;
    height: calc(calc(100% - calc(13%)) - 20px);
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.87);
    border-radius: 10px;
}
.rightcorner  .zone_saisie{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat_mes,.chat_vocal,.chat_btn{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat_mes{
    width: calc(100% - calc(150px + 50px));
}
.chat_vocal{
    width: 50px;
}
.chat_btn{
    padding-right: 10px;
    width: 125px;
    justify-content: space-around;

}

/* Icon */
.chat_icon{
    font-size: .75rem;
    color: #ad7cb8;
    cursor: pointer;
}
.chat_icon_btn_section{
    color: #6e6e6e8c;
}
.extend_btn{
    display: flex;
    align-items: center;
}
.chat_icon_send{
    padding: 9px;
    width: 35px  !important;
    height: 35px !important;
    color: white;
    border-radius: 50px;
    background: linear-gradient(to right bottom, #e78afc, #d570ea, #c355d8, #b236c6, #a003b4);
}
.chat_mes input {
    outline: none;
    font-size: .47rem;
    height: 100%;
    width: 100%;
    border: none;
    padding : 5px 10px;
    color: #4e4e4e;
}
/* left corner */

.leftcorner .searchBar{
    height: 8%;
    min-height: 50px;
    background-color: white;
    border-radius: 20px;
    padding: 0 25px;
    display : flex;
    justify-content: space-between;
    align-items: center;
}
.leftcorner .searchBar input{
    font-size: .5rem;
    width: 100%;
    padding-right: 15px;
    outline: none;
    color: #b1afaf;
    border: none;
}
.leftcorner .searchBar .search_btn{
    color: #c4c4c4;
    font-size: .75rem;
    cursor: pointer;
    transition: all .3 s ease-in-out 0s;
}
.leftcorner .searchBar .search_btn:hover{
    color: #ad7cb8;
}