<%- include("Layout/LayoutHeader.ejs")  %> 
<div style="display: flex;align-items: center;justify-content: center;height: 100%;">
    <h4>
        404 error <sub style="font-size: medium;">page not found .</sub>
    </h4>
</div>

<%- include("Layout/LayoutFooter.ejs")  %> 