<%- include("Layout/LayoutHeader.ejs") %>
 <style>
     body{
         background:  #ff9999 !important;
     }
 </style>
    <div class="login_container">
        <%- include("Fragment/Login/LeftCorner.ejs") %>
        <%- include("Fragment/Login/RightCorner.ejs") %>
    </div>

<%- include("Layout/LayoutFooter.ejs") %>