<%- include("Layout/LayoutHeader.ejs") %>

    <div class="login_container">
        <%- include("Fragment/Login/LeftCorner.ejs") %>
        <%- include("Fragment/Login/RightCorner.ejs") %>
    </div>

<%- include("Layout/LayoutFooter.ejs") %>